/*font*/
/*  font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,200;1,200&family=Poppins:wght@400;700&family=Varela+Round&display=swap');
/*Shadows into light*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBMPlexSansKR-Regular';
}

/*전체 항목 중앙 정렬 */
main {
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color:lightskyblue
}
/*클릭 시 검은 박스 삭제*/
#username,
#title,
#submit,
#story:focus {
  outline: 0;
}

#title {
  height: 3rem;
}

#story {
  height: 5rem;
}
#story::placeholder {
  color: aliceblue;
}


#submit {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  padding: 0.1rem;
  background-color: aliceblue;
}

#username:focus,
#title:focus,
#story:focus {
  opacity: 0.8;
  background-color: aliceblue;
  transition: all 1.2s;
}